#navbar .logo {
    float: none;
    text-align: center;
}

#navbar ul, #navbar ul li {
    float: none;
}

#navbar ul li a{
    padding: 5px;
    border-bottom: #444 dotted 1px;
}

#home-info .info-img{
    display: none;
}

#home-info .info-content {
    float: none;
    width: 100%;
}

.box {
    float: none;
    width: 100%;
}

#about-info .info-right,
#about-info .info-left {
    float: none;
    width: 100%;
}

#about-info .info-left {
    text-align: center;
}

#about-info .info-right {
    margin-top: 30px;
}

#showcase .showcase-content {
    padding-top: 70px;
    padding-bottom: 30px;
}

#testimonials h2 {
    font-size: 30px;
}