/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

h1,h1,h3 {
    padding-bottom: 20px;
}

a {
    list-style: none;
    text-decoration: none;
}

p {
    margin: 10px 0;
}

.clr {
    clear: both;
}

.logo a {
    color: #ffffff;
}

#navbar {
    background-color: #333;
    color: #fff;
    overflow: auto;
}

.logo {
    color: #fff;
    float: left;
    padding: 20px;
}


#navbar ul {
    float: right;
    list-style: none;
}

#navbar ul li {
    float: left;
}

#navbar ul li a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current{
    background-color: #444444;
    color: #f7c08a;
}

/* Utilite class */
.text-primary {
    color: #f7c08a;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 20px;
}

.lead {
    font-size: 20px;
}

.btn {
    display: inline-block;
    font-size: 20px;
    color: #ffffff;
    background-color: #333;
    padding: 13px 20px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.bg-dark {
    background: #333;
    color: #ffffff;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-primary {
    background: #f7c08a;
    color: #333;
}

.btn-light {
    color: #333;
    background-color: #f4f4f4;
}

.btn:hover {
    background-color: #f7c08a;
    color: #333;
}

.l-heading {
    font-size: 40px;
}

/* padding */
.py-1 {padding: 10px 0;}
.py-2 {padding: 20px 0;}
.py-3 {padding: 30px 0;}

#showcase {
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    height: 600px;
}

#showcase .showcase-content {
    padding-top: 170px;
    text-align: center;
    color: #ffffff;
}

#showcase .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}

#home-info {
    height: 550px;
}

#home-info .info-img {
    float: left;
    width: 50%;
    background: url('../img/photo-1.jpg') no-repeat;
    min-height: 100%;
}

#home-info .info-content {
    float: right;
    text-align: center;
    width: 50%;
    height: 100%;
    padding: 50px 30px;
    overflow: hidden;
}

#home-info .info-content p {
    padding-bottom: 30px;
}

.box {
    float: left;
    width: 33.3%;
    text-align: center;
    padding: 50px;
}

.box i {
    margin-bottom: 10px;
}

#main-footer {
    text-align: center;
    background: #444;
    color: #fff;
    padding: 20px;
}

.info-left {
    float: left;
    width: 50%;
    min-height: 100%;
}

.info-right {
    float: right;
    width: 50%;
    min-height: 100%;
}

.info-right img {
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 50%;
}

#testimonials {
    background: url('../img/test-bg.jpg') no-repeat center center/cover ;
    height: 100%;
    padding-top: 100px;
}

#testimonials h2 {
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
}

#testimonials .testimonial {
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    opacity: 0.9;
}

#testimonials .testimonial img {
    width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

#contact-form .form-group {
    margin-bottom: 20px;
}

#contact-form h1,
#contact-form p{
    text-align: center;
}

#contact-form .form-group input,
#contact-form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}

#contact-form .form-group input:focus,
#contact-form .form-group textarea:focus {
    outline: none;
    border-color: #f7c08a;
}

#contact-form .form-group textarea {
    height: 200px;
}