@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Home */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #333;
    color: #fff;
    width: 100%;
    opacity: 0.8;
    padding: 0 30px;
    position: fixed;
    top: 0;
}

.navbar ul {
    display: flex;
}

.navbar a{
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: #28a745 solid 2px;
}

.navbar h1 {
    font-weight: 400;
}