@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Home */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #333;
    color: #fff;
    width: 100%;
    opacity: 0.8;
    padding: 0 30px;
    position: fixed;
    top: 0;
}

.navbar ul {
    display: flex;
}

.navbar a{
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: #28a745 solid 2px;
}

.navbar h1 {
    font-weight: 400;
}

/* Header */

.hero {
    background: url('../images/home/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: #fff;
    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 100%;
}

.content h1 {
    font-size: 55px;
}

.content p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero * {
    z-index: 10;
}

.box .fas {
    padding: 16px;
    color: #fff;
    background-color: #28a745;
    border-radius: 50%;
    margin-bottom: 15px;
}

.flex-items img {
    border-radius: 50%;
    padding: 0 30px;
}

.callback-form {
    width: 100%;
    padding: 20px 0;
}

.callback-form label {
    display: block;
    margin-bottom: 5px;
}

.callback-form .form-control {
    margin-bottom: 15px;
}

.callback-form input{
    width: 100%;
    padding: 4px;
    height: 40px;
    border: #f5f5f5 solid 1px;
}

.callback-form h2{
    font-size: 30px;
    margin-bottom: 10px;
}

.callback-form input:focus {
    outline-color: #28a745;
}

.callback-form .btn {
    margin-top: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 200px;
}

.footer i {
    color: white;
    font-size: 24px;
    margin: 15px;
}

.footer i:hover {
    color: #28a745;
}