.text-primary {
    color: #28a745;
}

.text-secondary {
    color: #0284d0;
}

.btn {
    background-color: #28a745;
    display: inline-block;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.bg-primary {
    background-color: #28a745;
    color: #fff;
}

.bg-secondary {
    background-color: #0284d0;
    color: #fff;
}

.bg-dark {
    background-color: #333;
    color: #fff;
}

.bg-light {
    background-color: #f4f4f4;
    color: #333;
}

.btn-outline {
    background-color: transparent;
    border: #fff solid 1px;
}

/* Flex column */

.flex-columns.felx-reverse .row{
    flex-direction: row-reverse;
}

.flex-items {
    display: flex;
    padding: 20px;
    text-align: center;
    justify-content: space-between;
    height: 100%;
}

.flex-items h3 {
    margin-top: 10px;
    font-weight: bold;
}

.flex-items p {
    margin: 20px;
}

.flex-columns .row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.flex-columns .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.flex-columns .row .column .column-1,
.flex-columns .row .column .column-2 {
    height: 100%;
}

.flex-columns img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

.flex-columns h2 {
    font-weight: 100;
    font-size: 40px;
}

.flex-columns h4 {
    margin-bottom: 10px;
}

.section-header {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-header h2 {
    font-size: 40px;
    margin: 20px 0;
}

.section-padding {
    padding: 20px 20px 40px;
}

.flex-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-grid .row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.flex-grid .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.flex-grid .row .column img:hover {
    opacity: 0.6;
}